
ion-tab-bar{
 //--background: url('../assets/icon/background_android.png') no-repeat center center fixed;
  --background-size: cover;
 --background: linear-gradient(to top right, rgb(97, 118, 212), rgb(126, 83, 160));
    border: 2px solid rgb(142,149,204);
    height: 100px;
}

